<div class="container">
  <section>
    <h1>User Page Biznitches</h1>
    <hr>
    <h4>User Name: <%= @user.username %></h4>
    <hr>
    <h4>Email: <%= @user.email %></h4>
  </section>
  <hr>
  <section>
    <h3>Tasks (They are just jibberish for now)</h3>
    <%= link_to "Create Task", new_task_path, class: 'btn-success btn' %>
     <table class="table table-striped table-hover">
         <thead>
           <tr>
             <th>Title</th>
             <th>Description</th>
             <th>Status</th>
             <th>Days Left</th>
           </tr>
         </thead>
         <% @user.tasks.each do |task| %>
           <tr>
             <td><%= link_to task.title, task_path(task.id) %></td>
             <td><%= truncate(task.description, length: 53) %></td>
             <td><%= task.status %></td>
             <td>66</td>
           </tr>
         <% end %>
     </table> 
  </section>
  <section>
    <h3>Groups</h3>
    <ul>
      <% @user.groups.each do |group| %>
          <li><%= link_to group.title, group_path(group.id) %></li>
      <% end %>
    </ul>
  </section>

</div>
