<!DOCTYPE html>
<html>
<head>
  <title>SixtySixDaysButTheBitchAintOne</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to "66Days", root_path, class:"navbar-brand"  %>
          </div> 
          <% unless current_user %>
              <%= render "welcome/sign_in" %>
          <% end %>  
        </div>
      </div>
    <hr>

    <%= yield %>
    
    <hr>
    <div class="container">
      <footer>
        <p>&copy; Company 2014</p>
      </footer>
    </div>

</body>
</html>
